@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Serif+Vithkuqi:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");




.Slider {
  position: relative;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  padding-inline: 2.3em;
  align-items: center;
  justify-content: center;
  background: #5C6BC0;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .Slider {
    display: flex;
    padding-inline: 0;
  }
}
.Slider .content {
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 3em;
}
@media screen and (min-width: 960px) {
  .Slider .content {
    width: 40%;
    padding-left: 5em;
    margin-bottom: 0;
  }
}
.Slider h2 {
  letter-spacing: 0.8px;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.2;
}
.Slider p {
  font-size: 1rem;
  line-height: 1.8;
  margin-inline: auto;
  margin-top: 10px;
}
.Slider .counter {
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 2.5em 0 2em 0;
  gap: 2em;
}
.Slider .counter i {
  margin-right: 10px;
}
.Slider .counter span {
  display: block;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #c1c1c1;
  margin-top: 3px;
}
.Slider .btn {
  background-color: #334adc;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  transition: 0.3s ease-in;

}
.Slider .btn i {
  margin-left: 15px;
}
.Slider .btn:hover {
  background-color: #0f30e6;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  right: 0px;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .swiper-container {
    width: 60%;
    right: -60px;
  }
}

.swiper {
  position: relative;
  width: 100%;
  z-index: 2;
}

.swiper-slide {
  width: 10rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  position: relative;
  border-radius: 12px;
  box-shadow: -1px 5px 15px #0000001f;
  text-align: center;
  opacity: 0.4;
  transition: opacity 0.4s ease-in;
}
.swiper-slide span {
  display: inline-block;
  background: #3949AB;
  border-radius: 0 50px 50px 0;
  text-transform: capitalize;
  padding: 12px 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  top: 2em;
  left: 0;
  color: #fff;
}
.swiper-slide h3 {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  letter-spacing: 0.8px;
  position: relative;
  word-wrap: break-word;
}
@media screen and (min-width: 800px) {
  .swiper-slide h3 {
    font-size: 1.8rem;
  }
}
.swiper-slide p {
  color: #fff;
  line-height: 1.6;
  font-size: 0.8rem;
}
.swiper-slide .slide-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10px);
  width: 90%;
}
.swiper-slide--one {
  background: #0f2027;
  background: linear-gradient(to bottom, #2c536400, #203a4303, #0f2027cc), url("../../../assets/slider/0.jpeg") no-repeat 50% 50%/cover;
}
.swiper-slide--one h3 {
  font-family: "Courgette", cursive;
  font-weight: 300;
}
.swiper-slide--two {
  background: linear-gradient(to bottom, #2c536400, #203a4303, #0f2027cc), url("../../../assets/slider/1.5.jpeg") no-repeat 50% 50%/cover;
}
.swiper-slide--two h3 {
  font-family: "Noto Serif Vithkuqi", serif;
  font-weight: 300;
}
.swiper-slide--three {
  background: url("../../../assets/slider/1.jpeg") no-repeat 50% 50%/cover;
}
.swiper-slide--four {
  background: url("../../../assets/slider/2.jpeg") no-repeat 50% 50%/cover;
}
.swiper-slide--five {
  background: url("../../../assets/slider/3.jpeg") no-repeat 50% 50%/cover;
}
.swiper-slide--six {
  background: linear-gradient(to bottom, #2c536400, #203a4303, #0f2027cc), url("../../../assets/slider/4.jpeg") no-repeat 50% 50%/cover;
}
.swiper-slide--six h3 {
  font-family: "Chonburi", cursive;
  font-weight: 400;
}

.swiper-slide-active {
  display: grid;
  opacity: 1;
}

.swiper-pagination {
  position: relative;
  bottom: -0.313rem;
  text-align: center;
  margin-top: 35px;
  width: auto;
}
.swiper-pagination-bullet {
  border-radius: 0;
  width: 1.5rem;
  height: 0.25rem;
  background: #fff;
}
.swiper-pagination-bullet-active {
  background: #fff;
}

.circle {
  position: absolute;
  bottom: -5em;
  left: -8em;
  width: clamp(150px, 40vw, 400px);
  height: clamp(150px, 40vw, 400px);
  background: black;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.7;
}